.left-col {
  width: 50%;
  min-height: 100%;
  border-right: 1px solid black;
  float: left;
  box-sizing: border-box;
}

.right-col {
  width: 50%;
  min-height:100%;
  float: right;
}


.add-one{
  color:green;
  font-weigth:bolder;
  cursor:pointer;
  margin-top:10px;
}

.delete{
  color:white;
  background-color:rgb(231, 76, 60);
  text-align:center;
  margin-top:6px;
  font-weight:700;
  border-radius:5px;
  min-width:20px;
  cursor:pointer;
}

#singlebutton{
  width:100%;
  margin-top:20px;
}

.title{
  text-align:center;
  font-size:40px;
  margin-bottom:40px;
}


#top {
    display: inline-block;
    padding: 0px 100px;
}
