<!DOCTYPE html>
<html lang="en">

{% extends 'base.html' %}
{% set active_page = 'contact' %}

{% block title %}
    Contact | SDBC
{% endblock %}

{% block body %}

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="post-preview">
                    <h2 class="post-title"><span class="fa fa-address-book"></span>
                        Contact us
                    </h2>
                    <hr>
                    <h4>Full-stack developer, general design.</h4>
                    <p>
                        <span class="fa fa-user"></span> Anthony van Horick<br/>
                        <span class="fa fa-envelope"></span> anthony.vanhorick@student.uantwerpen.be
                    </p>
                    <hr>
                    <h4>Front-end developer, JavaScript, user interface/website design.</h4>
                    <p>
                        <span class="fa fa-user"></span> Darin Verheijke <br/>
                        <span class="fa fa-envelope"></span> darin.verheijke@student.uantwerpen.be
                    </p>
                    <hr>
                    <h4>Back-end developer, database design, REST API.</h4>
                    <p>
                        <span class="fa fa-user"></span> Ewout Pockelé <br/>
                        <span class="fa fa-envelope"></span> ewout.pockele@student.uantwerpen.be
                    </p>
                    <hr>
                    <h4>Front-end developer, logo design, JavaScript.</h4>
                    <p>
                        <span class="fa fa-user"></span> Lucas Van den Branden <br/>
                        <span class="fa fa-envelope"></span> lucas.vandenbranden@student.uantwerpen.be
                    </p>
                    <hr>
                    <h4>Back-end developer, database transformations.</h4>
                    <p>
                        <span class="fa fa-user"></span> Jules Desmet <br/>
                        <span class="fa fa-envelope"></span> jules.desmet@student.uantwerpen.be
                    </p>
                </div>
                <hr>
            </div>
        </div>
    </div>

    <hr>

{% endblock %}

</html>
